version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Authenticate with NPM
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Install
          command: npm ci
      - run:
          name: Lint
          command: npm run lint
  publish:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - run:
          name: Publish to NPM
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
            echo ".publish" >> .npmignore
            git clone https://github.com/sequencemedia/publish.git .publish
            .publish/publish.sh

workflows:
  commit-workflow:
    jobs:
      - lint:
          filters:
            branches:
              only: main
      - publish:
          requires:
            - lint
          filters:
            tags:
              only: /^v.*/
